*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: auto;
    height: auto;
    display: grid;
    justify-items: center;
}
.data_section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    align-items: center;
    justify-content: space-evenly;
    
}
.weather_info figure img{
    width: 180px;
    height: 150px;
}